.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end
}

.float-right {
    flex-grow: 2;
}

.heading {
    flex-grow: 10;
}

.rss-image {
    flex-grow: 0.5;
}