{% extends "hyde/templates/index.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">

<script src="/mermaid.min.js"></script>

{% endblock extra_head %}

{% block sidebar_nav %}
    {% for link in config.extra.hyde_links %}
        <a href="{{link.url}}" style="display: inline-block;">
            <img src="{{link.src}}" alt={{link.name}} height="30" width="30"/>
        </a>
    {% endfor %}
{% endblock sidebar_nav %}

{% block content %}
{% block top_bar %}
<div class="flex-container">
    <h3 class="heading">All posts</h3>
    <a class="float-right" href="/blog_series">Series</a>
    <a class="float-right" href="/tags">Tags</a>
</div>
<hr/>
{% endblock top_bar %}
<div class="posts">
    {% for page in section.pages %}
        {% if not page.draft %}
            <div class="post">
                <h2 class="post-title">
                    <a href="{{ page.permalink }}">
                        {{ page.title }}
                    </a>
                </h2>

                <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }} - {{
                page.reading_time }} mins read</span>
                <span>{{ page.description }}</span>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>mermaid.initialize({ startOnLoad: true });</script>
{% endblock content %}