{% extends "hyde/templates/index.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">

<script src="/mermaid.min.js"></script>

<script src="https://getinsights.io/static/js/insights.js"></script>
<script>
    insights.init('yov5Y1hNA4UC4Hu0');
    insights.trackPages();
</script>

{% endblock extra_head %}

{% block sidebar_nav %}
    {% for link in config.extra.hyde_links %}
        <a href="{{link.url}}" style="display: inline-block;">
            <img src="{{link.src}}" alt={{link.name}} height="30" width="30"/>
        </a>
    {% endfor %}
{% endblock sidebar_nav %}

{% block content %}
{% block top_bar %}
<div class="flex-container">
    <h3 class="heading">All posts</h3>
    <a class="float-right" href="/blog_series">Series</a>
    <a class="float-right" href="/tags">Tags</a>
    <a class="rss-image" href="{{config.feed_filename}}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" height="1em">
            <path d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z" />
            <path d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z" />
        </svg>
        </a>
    </a>
</div>
<hr/>
{% endblock top_bar %}
<div class="posts">
    {% for page in section.pages %}
        {% if not page.draft %}
            <div class="post">
                <h2 class="post-title">
                    <a href="{{ page.permalink }}">
                        {{ page.title }}
                    </a>
                </h2>

                <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }} - {{
                page.reading_time }} mins read</span>
                <span>{{ page.description }}</span>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>mermaid.initialize({ startOnLoad: true });</script>
{% endblock content %}